@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Roboto';
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

form {
    min-width: 300px;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
}

.inputs :nth-child(2), :last-child{
    padding: 15px;
    border-radius: 4px;
    border:  none;
}

.inputs input[type="email"] {
    margin-bottom: 15px;
}

label {
    margin-bottom: 8px;
    font-size: 0.75rem;
}

.button {
    background-color: #FF7675;
    color: white;
    cursor: pointer;
}